---
- name: Check if MySQL is already installed.
  stat: path=/etc/init.d/mysql
  register: mysql_installed

- block:
    - name: Install repository repo
      package:
        deb: "{{ mysql_repo_deb_url }}"
        state: present

    - name: Import repository GPG key
      apt_key:
        id: "{{ mysql_repo_key_id }}"
        url: "{{ mysql_repo_key_url }}"
        state: present

    - name: Configure the apt repo sources for MySQL.
      template:
        src: "apt.mysql.list.j2"
        dest: "/etc/apt/sources.list.d/mysql.list"
        owner: root
        group: root
        mode: 0644

    - name: Pretask | Update apt cache | Debian
      apt: update_cache=yes cache_valid_time=3600

  when: mysql_add_repo


- name: Update apt cache if MySQL is not yet installed.
  apt: update_cache=yes
  when: not mysql_installed.stat.exists

- name: Determine required MySQL Python libraries.
  set_fact:
    mysql_python_package_debian: "{% if 'python3' in ansible_python_interpreter|default('') %}python3-mysqldb{% else %}python-mysqldb{% endif %}"
  when: mysql_python_package_debian is not defined

- name: Ensure MySQL Python libraries are installed.
  apt:
    name: "{{ mysql_python_package_debian }}"
    state: present

- name: Ensure MySQL packages are installed.
  apt:
    name: "{{ mysql_packages }}"
    state: present
  register: deb_mysql_install_packages

# Because Ubuntu starts MySQL as part of the install process, we need to stop
# mysql and remove the logfiles in case the user set a custom log file size.
- name: Ensure MySQL is stopped after initial install.
  service: "name={{ mysql_daemon }} state=stopped"
  when: not mysql_installed.stat.exists

- name: Delete innodb log files created by apt package after initial install.
  file: path={{ mysql_datadir }}/{{ item }} state=absent
  with_items:
          - ib_logfile0
          - ib_logfile1
  when: not mysql_installed.stat.exists
